AlbertLlonguerasNew/App_Data/*
AlbertLlonguerasNew/install
AlbertLlonguerasNew/umbraco
AlbertLlonguerasNew/umbraco_client
AlbertLlonguerasNew/obj/Debug/*
packages/*
AlbertLlonguerasNew/bin/*.pdb
Library/obj/Debug/*
Library/bin/Debug/*.pdb
Library/bin/*
Library/obj/*
AlbertLlonguerasNew/obj/*
Library.Test/bin/*
Library.Test/obj/*
AlbertLlonguerasNew/bin/*.pdb
