@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    foreach (var previa in Model.Content.Descendants().Where(x =>
        x.DocumentTypeAlias == "Previa" 
        && x.GetPropertyValue("isActive").ToString() == "True"
        ))
    {
        <h1>@previa.GetPropertyValue("title")</h1>
        <h3>@previa.GetPropertyValue("description")</h3>
    }
}