@using Library.Businness
@using Library.Helpers
@using Umbraco.Web
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Member = umbraco.cms.businesslogic.member.Member
@{
    <script src="/scripts/puntuation.js"></script>
    <link href="/css/puntuation.css" rel="stylesheet" />
    try
    {
        var porraManager = new PorraManager();
        var puntuationManager = new PuntuationManager();
        var rootNode = Model.Content.Parent;
        var players = rootNode.Descendants("Jugador").ToList();

        var informationList = porraManager.GetInformationOfPlayers(players, Utils.GetCurrentMonthOfPrevia(Model.Content));
        var monthList = puntuationManager.GetPuntuationByMonthNoPorrero(rootNode);
        var monthPorreroList = puntuationManager.GetPuntuationByMonth(rootNode);

        if (informationList != null && informationList.Any())
        {
            foreach (var player in informationList)
            {
                var name = Member.GetAllAsList().FirstOrDefault(x => x.LoginName == player.PlayerName);
                player.PlayerName = name.getProperty("nickName").Value.ToString();
            }
            foreach (var player in monthList)
            {
                var name = Member.GetAllAsList().FirstOrDefault(x => x.LoginName == player.Name);
                player.Name = name.getProperty("nickName").Value.ToString();
            }
            foreach (var player in monthPorreroList)
            {
                var name = Member.GetAllAsList().FirstOrDefault(x => x.LoginName == player.Name);
                player.Name = name.getProperty("nickName").Value.ToString();
            }

            var globalPuntuationJson = PorraManagerUtils.ConvertObjectToJson(informationList);
            var globalMonthPorreroPuntuationJson = PorraManagerUtils.ConvertObjectToJson(monthPorreroList);
            var globalMonthPuntuationJson = PorraManagerUtils.ConvertObjectToJson(monthList);
            if (!string.IsNullOrEmpty(globalPuntuationJson))
            {
                <h2 class="modal-title centerElement">Classificació i puntuacions específiques</h2>
                <div id="puntuationGraph" class="margin-bottom30">
                </div>
                <div class="center-block puntuationSelector">
                    <ul >
                        <li class="margin-bottom10 puntuationSelect">
                            <button class="sortDesc btn btn-info active btn-sm"><span class="glyphicon"></span>Puntuació + porrero</button>
                        </li>
                        <li class="margin-bottom10 puntuationSelect">
                            <button class="globalMonth btn btn-info btn-sm"><span class="glyphicon"></span>Puntuació sense porrerro</button>
                        </li>
                        <li class="margin-bottom10 puntuationSelect">
                            <button class="porrero btn btn-info btn-sm"><span class="glyphicon"></span>Puntuació mes</button>
                        </li>
                        <li class="margin-bottom10 puntuationSelect">
                            <button class="lastPuntuation btn btn-info btn-sm"><span class="glyphicon"></span>Última puntuació</button>
                        </li>
                    </ul>
        
                </div>

                <script type="text/javascript">
                    var GlobalPuntuationJson = '@Html.Raw(globalPuntuationJson)';
                    var GlobalPuntuation = JSON.parse(GlobalPuntuationJson);
                    var GlobalMonthPorreroPuntuationJson = '@Html.Raw(globalMonthPorreroPuntuationJson)';
                    var GlobalMonthPorreroPuntuation = JSON.parse(GlobalMonthPorreroPuntuationJson);
                    var GlobalMonthPuntuationJson = '@Html.Raw(globalMonthPuntuationJson)';
                    var GlobalMonthPuntuation = JSON.parse(GlobalMonthPuntuationJson);

                    var puntuations = new Array();
                    GlobalWithPorrero(GlobalMonthPorreroPuntuation);
                </script>

            }
        }
    }
    catch (Exception)
    {
        <p>No hi ha cap resultat.</p>

        throw;
    }
}