@using Library.Businness
@using Library.Helpers
@using Umbraco.Web
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Member = umbraco.cms.businesslogic.member.Member
@{
    <script src="/scripts/puntuation.js"></script>
    <link href="/css/puntuation.css" rel="stylesheet" />
    try
    {
        var porraManager = new PorraManager();
        var puntuationManager = new PuntuationManager();
        var rootNode = Model.Content.Parent;
        var players = rootNode.Descendants("Jugador").ToList();

        var informationList = porraManager.GetInformationOfPlayers(players, Utils.GetCurrentMonthOfPrevia(Model.Content));
        //var puntuationOfMonth = puntuationManager.GetPuntuationOfCurrentMonth(players);
        if (informationList != null && informationList.Any())
        {
            foreach (var player in informationList)
            {
                var name = Member.GetAllAsList().FirstOrDefault(x => x.LoginName == player.PlayerName);
                player.PlayerName = name.getProperty("nickName").Value.ToString();
            }
            //var puntuationOfMonthFixed = new Dictionary<string, string>();
            //foreach (var player in puntuationOfMonth)
            //{
            //    var name = Member.GetAllAsList().FirstOrDefault(x => x.LoginName == player.Key);
            //    puntuationOfMonthFixed.Add(name.getProperty("nickName").Value.ToString(), player.Value);
            //}
            var globalPuntuationJson = PorraManagerUtils.ConvertObjectToJson(informationList);
            //var puntuationOfMonthJson = PorraManagerUtils.ConvertObjectToJson(puntuationOfMonthFixed);
            if (!string.IsNullOrEmpty(globalPuntuationJson))
            {
                <h2 class="modal-title centerElement">Puntuació</h2>
                <div class="center-block">
                    
                    <button class="sortAsc btn btn-default btn-lg"><span class="glyphicon"></span>Ascendent</button>
                    <button class="sortDesc btn btn-default btn-lg"><span class="glyphicon"></span>Descendent</button>
                    <button class="porrero btn btn-default btn-lg"><span class="glyphicon"></span>Porrero mes</button>
                    <div id="puntuationGraph">
                    </div>
                </div>

                <script type="text/javascript">
                    var GlobalPuntuationJson = '@Html.Raw(globalPuntuationJson)';
                    var GlobalPuntuation = JSON.parse(GlobalPuntuationJson);

                    @*var PuntuationOfMonthJson = '@Html.Raw(puntuationOfMonthJson)';
        var PuntuationOfMonth = JSON.parse(PuntuationOfMonthJson);*@

                    var puntuations = new Array();
                    PrepareObject(GlobalPuntuation);
                </script>

            }
        }
    }
    catch (Exception)
    {
        <p>No hi ha cap resultat.</p>

        throw;
    }
}