@using Library.Businness
@using Library.Helpers
@using Umbraco.Web
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Member = umbraco.cms.businesslogic.member.Member
@{

    try
    {
        var porraManager = new PorraManager();
        var rootNode = Model.Content.Parent;
        var players = rootNode.Descendants("Jugador");

        var informationList = porraManager.GetInformationOfPlayers(players);
        if (informationList != null && informationList.Any())
        {
            foreach (var player in informationList)
            {
                var name = Member.GetAllAsList().FirstOrDefault(x => x.LoginName == player.PlayerName);
                player.PlayerName = name.getProperty("nickName").Value.ToString();
            }
            var jsonResult = PorraManagerUtils.ConvertObjectToJson(informationList);
            if (!string.IsNullOrEmpty(jsonResult))
            {
    <h2 class="modal-title">Puntuació</h2>
    <div id="puntuationGraph"></div>
    <script type="text/javascript">
        var json = '@Html.Raw(jsonResult)';
        var jsonResult = JSON.parse(json);
        var puntuations = new Array();
        for (var i = 0; i < jsonResult.length; i++) {
            puntuations.push([jsonResult[i].Information.OldInformation.GlobalPuntuation, jsonResult[i].PlayerName, '#7D252B']);
        }
        $('#puntuationGraph').jqBarGraph({ data: puntuations });
    </script>  
  
            }
        }
    }
    catch (Exception)
    {
    <p>No hi ha cap resultat.</p>
  
        throw;
    }
}