@using AlbertLlonguerasNew.Models
@using Library.Businness
@using Library.Helpers
@inherits Umbraco.Web.Macros.PartialViewMacroPage

<h2>Nou partit</h2>

@{
    var rootNode = Umbraco.TypedContent(1151);
    var players = rootNode.Descendants("Jugador");
    TempData["node"] = players;
 }
@Html.Partial("CreateResult", new NewResultModel
    {
        Player = "master",
        PorraNode = Utils.GetMatchNode(Model.Content),
        MatchIdentifier = PorraManager.GetMatchIdentifier(Model.Content),
        PlayerNodes = players
    })
