@using AlbertLlonguerasNew.Models
@using Library.Businness
@using Library.Helpers
@inherits Umbraco.Web.Macros.PartialViewMacroPage

<h2>Nou partit</h2>
<p>@PorraManager.GetMatchIdentifier(Model.Content)</p>
<p>@Utils.GetMatchNode(Model.Content).Name</p>

@{
    var rootNode = Utils.GetRootNode(Model.Content);
    var players = rootNode.Descendants("Jugador");
    TempData["node"] = players;
    foreach (var player in players)
    {
  <p>@player.Name</p>
    }
 }
@Html.Partial("CreateResult", new NewResultModel
    {
        Player = "master",
        PorraNode = Utils.GetMatchNode(Model.Content),
        MatchIdentifier = PorraManager.GetMatchIdentifier(Model.Content),
        PlayerNodes = players
    })

