@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";
}

<article class="internal">
    @*<div id="content">*@
        @RenderSection("bodyContent")
    @*</div>*@
</article>

