@using AlbertLlonguerasNew.Models
@using Library.Businness
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "BasePage.cshtml";
}


@section bodyContent
{
    <div class="columnsContainer">
 
      <div class="leftColumn">
    @Html.Raw(library.RenderMacroContent(@Model.Content.GetPropertyValue("macroContainer").ToString(), Model.Content.Id))

      </div>
 
      <div class="rightColumn">
      </div>
 
    </div>
}
