@using AlbertLlonguerasNew.Models
@using Library.Businness
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "BasePage.cshtml";
}

@section bodyContent
{
    @*<div class="columnsContainer">*@
    @*<div class="col-sm-12">*@
    <section class="col-sm-12">
            @Html.Raw(library.RenderMacroContent(@Model.Content.GetPropertyValue("macroContainer").ToString(), Model.Content.Id))

    </section>
        @*</div>*@
    @*</div>*@
}
