*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
 
body { margin: 0; }
 
.columnsContainer { position: relative; margin: .5em; }
 
.leftColumn {  padding: 1.25em; margin-bottom: .5em; }
 
.rightColumn { padding: 1.25em; }

@media screen and (min-width: 47.5em ) {
  .leftColumn { margin-right: 19.5em; }
 
  .rightColumn { position: absolute; top: 0; right: 0; width: 18.75em; }
}

#content {
    padding: 2em;
}

.centerElement {
    width: 960px;
    position: relative;
    margin: 0 auto;
    line-height: 1.4em;
    text-align: center;
}

h2 {
    margin-bottom: 30px !important;
}

.logout a {
    color: #428bca;
}
li {
    list-style: none;
}.blockItemDescription ul {
    padding-left: 10px;
}

.blockItemDescription li {
    list-style: inherit;
    margin-bottom: 10px;
}
